
@media (max-width: 460px) {
    .page_header {
        height: 540px;
    }    
    .page_header .auth_btn{
        display: inline-flex;
        justify-content: center;
    }

    .header-titles .header_h3 {
        padding: 0 10%;
    }

    .logo{
        padding-top: 120px;
    }
}


@media (min-width: 460px) {
    .page_header {
        height: 700px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .page_header .header-buttons {
        justify-content: flex-end;
        margin-right: 50px;
    }

    .page_header .auth_btn {
        margin-top: 38px;
    }

    .logo {
        position: absolute;
        top: 45px;
        left: 50px;
    }

    .header-titles {
        padding-bottom: 74px;
        height: 100%;
    }

    .header-titles .header_h2 {
        font-size: 52px;
        line-height: 62px;
    }

    .header-titles .header_h2:nth-child(3) {
        margin-bottom: 40px;
    }

    .header-titles .header_h3 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 34px;
    }

    .header-titles .header_btn {
        font-size: 14px;
        line-height: 17px;
    }

    .main_section {
        flex-wrap: wrap;
    }

    .section_h3 {
        margin-bottom: 33px;
    }

    .partners-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 15%;
    }

    .partners .partner_info {
        padding: 0 3%;
        margin-bottom: 0;
    }

    .partners {
        width: 50%;
        margin-bottom: 60px;
    }

    .partners:nth-child(1) {
        order: 1;
    }

    .partners:nth-child(2) {
        order: 3;
    }

    .partners:nth-child(3) {
        order: 2;
    }

    .partners:nth-child(4) {
        order: 4;
    }
}


@media (min-width: 940px) {
    .partners-container {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 15%;
    }

    .partners {
        width: 25%;
        margin: 0 10px 40px;
    }


}
