@media (min-width: 768px) {
    .col-logo {
        margin-top: 25px;
    }

    .nav {
        margin-bottom: 150px;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 0 50px;
    }

    .page_header {
        height: 700px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .header-titles .header_h2 {
        font-size: 52px;
        line-height: 62px;
    }

    .header-titles .header_h2:nth-child(3) {
        margin-bottom: 40px;
    }

    .header-titles .header_h3 {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 34px;
    }

    .header-titles .header_btn {
        font-size: 14px;
        line-height: 17px;
    }

    .partners:nth-child(1) {
        order: 1;
    }

    .partners:nth-child(2) {
        order: 3;
    }

    .partners:nth-child(3) {
        order: 2;
    }

    .partners:nth-child(4) {
        order: 4;
    }
}


@media (min-width: 992px) {

.main_section {
    width: 992px;
}
}
